body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", sans-serif;
  background: rgb(241, 234, 241);
  color: rgb(42, 41, 41);
}

.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}

.header {
  margin-left: 210px;
}

.sidepic {
  height: 99.4%;
  width: 100%;
  margin-top: 2px;
  margin-bottom: 0;
}

.blog {
  margin-left: 210px;
  margin-right: 50px;
}

h4 {
  text-decoration-line: underline;
  font-style: italic;
}

img {
  display: inline-block;
  width: 48%;
}

#blog-login {
  margin-right: 20px;
}

.indent {
  list-style: none;
}

p, ul, li {
  margin-right: 40px;
}

a {
  color: rgb(42, 41, 41);
  font-weight: bold;
}